<!--p>empleados-list works!</p-->
<c-row ngPreserveWhitespaces>
  <c-col xs="12" class="list-custom">
    <div class="header-list-custom">
      <h2 class="title-list-custom">
        <strong>Listado de Colaboradores</strong>
      </h2>
      <button cButton class="btn-list-custom" (click)="agregarEmpleado()">+ Agregar</button>
    </div>
    <c-card class="mb-4 body-list-custom">
      <c-card-body style="padding: 25px;">
        <div href="components/table#hoverable-rows">
          <table [hover]="true" cTable class="table-custom">
            <thead>
              <tr>
                <th scope="col">
                  <strong> Codigo </strong>
                </th>
                <th scope="col">
                  <strong> Cedula </strong>
                </th>
                <th scope="col">
                  <strong> Nombre </strong>
                </th>
                <th scope="col">
                  <strong> Tipo Descuento </strong>
                </th>
                <th scope="col">
                  <strong> Estatus </strong>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let emp of listaEmpleados" routerLink="/empleados/empleado-detail/{{emp.id}}">
                <td>{{emp.codigopayday}}</td>
                <td>{{emp.documento}}</td>
                <td class="td-nombre">{{emp.nombre}}</td>
                <td>{{emp.tipodescuento}}</td>
                <td>{{emp.estatus}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>