<form>
  <c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header>Empleados por tipos de descuentos</c-card-header>
        <c-card-body>
          <c-row>
            <c-col md="6" xl="6" xs="12">
              <c-row>
                <c-col sm="6" routerLink="/empleados/empleados-list/{{'ADMINISTRATIVO'}}">
                  <div class="border-start border-start-4 border-start-info py-1 px-3 mb-3">
                    <div class="text-medium-emphasis small">Administrativos</div>
                    <div class="fs-5 fw-semibold">
                      <p>{{(admini/total)*100 | number:'1.2-2'}}%</p>
                    </div>
                  </div>
                </c-col>
                <c-col sm="6" routerLink="/empleados/empleados-list/{{'TIENDA'}}">
                  <div class="border-start border-start-4 border-start-danger py-1 px-3 mb-3">
                    <div class="text-medium-emphasis small">
                      Personal de tienda
                    </div>
                    <div class="fs-5 fw-semibold">{{(tienda/total)*100 | number:'1.2-2'}}%</div>
                  </div>
                </c-col>
              </c-row>
            </c-col>

            <c-col md="6" xl="6" xs="12">
              <c-row>
                <c-col sm="6" routerLink="/empleados/empleados-list/{{'GERENCIA'}}">
                  <div class="border-start border-start-4 border-start-warning py-1 px-3 mb-3">
                    <div class="text-medium-emphasis small">Gerentes</div>
                    <div class="fs-5 fw-semibold">{{(gerente/total)*100 | number:'1.2-2'}}%</div>
                  </div>
                </c-col>
                <c-col sm="6" routerLink="/empleados/empleados-list/{{'ACCIONISTA'}}">
                  <div class="border-start border-start-4 border-start-success py-1 px-3 mb-3">
                    <div class="text-medium-emphasis small">Accionistas</div>
                    <div class="fs-5 fw-semibold">{{(accioni/total)*100 | number:'1.2-2'}}%</div>
                  </div>
                </c-col>
              </c-row>
            </c-col>
          </c-row>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</form>
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Empleados por estatus</c-card-header>
      <c-card-body>
        <c-row>
          <c-col md="12" xl="12" xs="12">
            <hr class="mt-0" />
            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cil-check-alt"></svg>
                <span>Activos</span>
                <span class="ms-auto font-semibold">
                  {{activo}} <span class="text-medium-emphasis small">({{(activo/total)*100}}%)</span>
                </span>
              </div>
              <div class="progress-group-bars" routerLink="/empleados/empleados-list/{{1}}">
                <c-progress thin>
                  <c-progress-bar color="success" value="{{(activo/total)*100}}"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cil-check-circle"></svg>
                <span>Inactivos</span>
                <span class="ms-auto font-semibold">
                  {{inactivo}} <span class="text-medium-emphasis small">({{(inactivo/total)*100}}%)</span>
                </span>
              </div>
              <div class="progress-group-bars" routerLink="/empleados/empleados-list/{{2}}">
                <c-progress thin>
                  <c-progress-bar color="success" value="{{(inactivo/total)*100}}"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cil-x"></svg>
                <span>Cesantes</span>
                <span class="ms-auto font-semibold">
                  {{cesante}} <span class="text-medium-emphasis small">({{(cesante/total)*100 |
                    number:'1.2-2'}}%)</span>
                </span>
              </div>
              <div class="progress-group-bars" routerLink="/empleados/empleados-list/{{3}}">
                <c-progress thin>
                  <c-progress-bar color="success" value="{{(cesante/total)*100}}"></c-progress-bar>
                </c-progress>
              </div>
            </div>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-row>
  <c-col>
    <c-card>
      <c-card-header>Empleados por Empresas</c-card-header>
      <c-card-body>
        <c-chart [data]="datachart" type="bar"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>