<c-row ngPreserveWhitespaces>
    <c-col xs="12" class="list-custom">
        <div class="header-list-custom">
            <h2 class="title-list-custom">
                <strong>Empleado</strong>
            </h2>
        </div>
        <c-card class="mb-4 detail-card-custom">

            <c-card-body class="p-4">
                <h5 class="text-medium-emphasis subtitle-card-custom">Datos Generales</h5>
                <form cForm [formGroup]="empleadoForm" class="form-detail-custom">
                    <c-container>

                        <c-row class="mb-3">
                            <c-col xs="6">
                                <label cLabel for="documento"> Identificación:</label>
                                <input autoComplete="documento" cFormControl type="text" id="documento"
                                    formControlName="documento" placeholder="Documento" />
                            </c-col>
                            <c-col xs="6">
                                <label cLabel for="nombre"> Nombre completo:</label>
                                <input autoComplete="nombre" cFormControl type="text" id="nombre"
                                    formControlName="nombre" placeholder="Nombre" />
                            </c-col>
                        </c-row>
                        <c-row class="mb-3">
                            <c-col xs="6">
                                <label cLabel for="correoelectronico"> Correo:</label>
                                <input autoComplete="email" cFormControl type="text" id="correoelectronico"
                                    formControlName="correoelectronico" placeholder="Email" />
                            </c-col>
                            <c-col xs="6">
                                <label cLabel for="empresa"> Empresa:</label>
                                <input autoComplete="empresa" cFormControl type="text" id="empresa"
                                    formControlName="empresa" placeholder="Empresa" />
                            </c-col>
                        </c-row>
                        <c-row class="mb-3">
                            <c-col xs="6">
                                <label cLabel for="tipodescuento"> Tipo de Descuento:</label>
                                <select aria-label="Tipo Descuento" cSelect id="tipodescuento"
                                    formControlName="tipodescuento">
                                    <option *ngFor="let descuentol of listaDescuentos" [ngValue]="descuentol.id">{{
                                        descuentol.nombre }}
                                    </option>
                                </select>
                            </c-col>
                            <c-col xs="6">
                                <label cLabel for="estatus"> Estatus:</label>
                                <select aria-label="Estatus" cSelect id="estatus" formControlName="estatus">
                                    <option *ngFor="let estatusl of listaEstados" [ngValue]="estatusl.id">{{
                                        estatusl.nombre
                                        }}</option>
                                </select>
                            </c-col>
                        </c-row>
                        <c-row class="mb-3">
                            <c-col class="container-btn-detail-custom">
                                    <button cButton color="success" (click)="guardarEmpleado()"
                                        class="btn-detail-custom">Guardar</button>
                            </c-col>
                        </c-row>
                    </c-container>
                </form>
            </c-card-body>
        </c-card>